/* Fonts */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon_srf3rx.eot');
  src: url('../fonts/icomoon/icomoon_srf3rx.eot#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon_srf3rx.ttf') format('truetype'), url('../fonts/icomoon/icomoon_srf3rx.woff') format('woff'), url('../fonts/icomoon/icomoon_srf3rx.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Good Vibes Pro';
  src: url('../fonts/GoodVibesPro/GoodVibesPro.eot');
  src: url('../fonts/GoodVibesPro/GoodVibesPro.eot#iefix') format('embedded-opentype'), url('../fonts/GoodVibesPro/GoodVibesPro.woff') format('woff'), url('../fonts/GoodVibesPro/GoodVibesPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VL Good Vibes Pro';
  src: url('../fonts/GoodVibesPro/VL_GOODVIBESPRO.OTF');
  font-weight: normal;
  font-style: normal;
}
#canvas {
  width: 100%;
  max-width: 2160px;
  max-height: 2780px;
}